html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: .2vw;
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
}

body.fade-out {
    opacity: .1;
    transition: none;
}

/* begin navbar */
.Navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    position: fixed;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

.Navbar a {
    float: left;
    display: block;
    color: #FFEC3D;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    -webkit-animation: movenavText 5.75s;
    animation: movenavText 5.75s;
    letter-spacing: .2vw;
}

/* the animation effect for moving the nav bar in from above the top of the screen upon page load */
@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

/* the animation effect for moving ther nav bar in from above the top of the screen upon page load */
@keyframes movenavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

/* this animation effect causes the overlay video text to move up from the bottom of the page upon load */
@keyframes movevideoText {
    from {top: -100vw;}
    to {top: 0px;}
}

.Navbar a:hover {
    background-color:#FFEC3D;
    color: black;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.Navbar a.active {
    background-color: darkgrey;
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1.5,1.5);
    }
    100% {
        transform: scale(1,1);
    }
}

/* Begin Video */
#Typing_Video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    top: 0;
    z-index: -1;
    animation: zoominoutsinglefeatured 5s;
}

.Video_Text {
    background: rgba(0, 0, 0 , 0.5);
    color: #FFEC3D;
    width: 100%;
    padding-top: .1vh;
    padding-bottom: 1vh;
    margin-top: 23%;
    position: relative;
    -webkit-animation: moveNav 4s;
    animation: movevideoText 4s;
}

/* Slideshow Styling */
#Slideshow_Background {
    background: rgba(255,255,255, 0.35);
}

.mySlides {
    display: none;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Slideshow section /container */
#Slidesshow_Container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    margin: auto;
    position: relative;
}

/* Images contained within slideshow */
.Slide_Show_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, 0.75);
    width: auto;
}

/* next and previos button */
.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -0vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Hover effect on slide show buttons */
.previous:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* slideshow text */
.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Perpetua, Rockwell extra bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
}

/* number text (1/6, 2/6 ect.) - we have set this display to none, which means these are hidden */
.Slide_Number {
    color: white;
    position: absolute;
    top: 0;
    font-family: perpetua, reckwell extra bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
}

/* the dots under the slideshow */
.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    z-index: 1;
}

/* Hover effect for slideshow dots */
.active, .dot:hover {
    background-color: black;
}

/* Fading animation for slideshow dots */
.fade {
    -webkit-animation-name: fade;
    -webkit-anitmation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
/* Begin table styling */
* {
    box-sizing: border-box;
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px; /* might need to adjuct depending on my content */
    background-color:#B8a2E8;
    border: 1px solid #392F81;
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    padding-top: 1.9%;
    height: 448px; /* might have to adjust for content */
    background-color: #785ED6;
    border: 1px solid #392F81;
}

.Column_3 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3.5%;
    height: 450px;
    background-color: #785ED6;
    border: 1px solid #392F81;
}

.Row:after {
    content: "";
    display: table;
    clear: both;
}

/* Begin heading elemnets */
h1 {
    text-transform: uppercase;
    font-family: "trebuchet MS", optima;
    text-align: center;
    margin-top: 3%;
    color: #FFEC3D;
}

h2 {
    text-transform: uppercase;
    font-family: "trebuchet MS", optima;
    text-align: center;
    margin-top: 3%; 
    color: #18181E;
}

/* Begin Paragraph elements */
p {
    font-family: perpetua, rockwell extra bold;
    text-align: center;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

center {
    font-family: perpetua, rockwell extra bold;
    text-align: center;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

/* Begin anchor elements */
a {
    color: #FFEC3D;
}

a#Gitlink {
    color: #18181E;
}

/* Begin Qutations elements */
q {
    font-style: italic;
    font-weight: bold;
}

/* Begin image Elements */
img {
    filter: grayscale(75%) ;
    border-radius: 8px;
    max-width: 100%;
    height: 100%;
    margin: auto auto auto auto;
    display: block;
}

/* Center align element hover effect */
center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

p:hover {
    color: #00004d;
    transition: transform 1s;
    transform: scale(1.01);
}

/* heading 1 element hover effect */
h1:hover, h2:hover {
    color: black;
    font-weight: normal;
}

/* images hover effects */
img:hover {
    filter: grayscale(5%);
    transition: transform 1s;
    transform: scale(1.1);
}

/* Begin Contact form */

/* makes contact form button fly in from lewft side of page */
@keyframes movePopup {
    from {right: -40vw;}
    to {bottom: 1.75vw}
}

/* button is used to open the contact form fixed at the bottom of the page */
.Pop_Up_Button {
    bottom: 1.75vw;
    right: 1.75;
    width: 25%;
    background-color: white;
    color: black;
    border: solid;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

/* the popup form hidden by deafault */
.form-popup {
    border: 3px solid #f0f1f0;
    z-index: 0;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

/* Form styling */
.form-container{
    max-width: 49vw;
    padding: 9px;
    background-color: white;
}

/* input fields */
.form-container input[type=text], .form-container input[type=email] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: gainsboro;
    font-family: Helvetica, Avant Garde;
    font-size: 1vw;
}

/* Begin Submit button */
.btn {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: bottom 1vh;
    font-family: perpetua, rockwell extra bold;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
    font-weight: bold;
    transform: scale(1.5);
    transition: transform 1.5s;
}

.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

/*hover efffect for buttons */
button:hover, .form-container .btn:hover{
    color: white;
    background-color: black;
    -webkit-transformation-durtaion: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: silver;
}

.form-container .cancel:hover{
    color: white;
    background-color: darkred;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: black;
}
/* Begin Form element */
form {
    border-radius: 5px;
    background-color: #D6CA5E;
    padding: 10px;
    font-family: "trebuchet ms", optima;
}

/* Center align element hover effect */
center:hover {
   transition: transform 2s; 
   transform: scale(1.1)
}

/* Paragraph hover effect */
p:hover {
    color: black;
    font-weight: normal;
}

/* headings hover effect */
h1:hover {
    color: #FFEC3D;
    font-weight: bold;
    transition: 1s;
    transform: scale(1.2);
}

h2:hover {
    color: #18181E;
    font-weight: bold;
    transition: 1s;
    transform: scale(1.2)
}

/* image element hover */
#Slidesshow_Container:hover {
    filter: grayscale(5%);
    transition: transform 1s;
    transform: scale(1.1);
}

/* footer element */
footer {
    padding: 2%;
    background-color: #18181E;
}

footer[p] {
    color: #f2f2f2;
}
